
.bgModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000
}

.modal {
  position: fixed;
  top: 35%;
  left: 50%;
  height: 35%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 2.5rem;
  z-index: 1000
}

.btn_close {
  font-family: arial black;
  color: red;
  background-color: white;
  position: relative;
  margin-left: 15rem;
}