/* Style to expense summary */
.valor_total{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}


.btn_add{
    height: 2rem;
    margin-left: 4rem;
}

.btn_add button{
  width: 6rem;
}

.total {
    width: 90%;
    display: flex;
    flex-direction:row;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
    padding: 2%;
    
    border: 1px solid rgb(154, 154, 206);
    contain: paint;
}

.entrada{
    color: green;
}

.saida{
    color: red;
}

.total>div {
    width: 160px;
}
